.calendar {
    width: 280px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: serif, cursive, fantasy;
    z-index: 10;
}

.calendar .header {
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #CA2B2B;
    color: #ccc;
}

.calendar .caret-left {
    display: block;
    float: left;
    margin-left: 10px;
    margin-top: 8px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #eee;
    width: 0;
    height: 0;
    cursor: pointer;
}

.calendar .caret-right {
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: 8px;
    border-color: transparent;
    border-left-color: #eee;
    border-style: dashed  dashed dashed solid;
    border-width: 8px 0 8px 8px;
    width: 0;
    height: 0;
    cursor: pointer;
}

.calendar .panel {
    width: 100%;
    text-align: center;
    background: #fff;
}

.calendar .panel td {
    line-height: 1.2;
}

.calendar .panel th {
    line-height: 2;
}

.calendar .cur-date {
    color: #CA2B2B;
}

.calendar .cur-month:hover {
    cursor: pointer;
    background: #ccc;
    color: #fff;
}

.calendar .pre-month {
    color: #ccc;
}